<footer>
    <div class="footer-info">
        <div>
            <span> <h2 id="img"><img src="logo.svg" width="114px"></h2></span>
            <span>
                <pre>© 2010 - 2024, Zerodha Broking Ltd.

All rights reserved.
                </pre>
            </span>   
            <span><img src="x-twitter.svg"></span>&nbsp;&nbsp;
            <span><img src="x-twitter.svg"></span>&nbsp;&nbsp;
            <span><img src="x-twitter.svg" id="x-t" ></span><br>
            <span><img src="youtube.svg"></span>&nbsp;&nbsp;
            <span><img src="whatsapp.svg" width="18px"></span>
        </div>

        <div >
            <span><h2>Company</h2></span>
            <span >
                <h3>About</h3>
                <h3>Products</h3>
                <h3>Pricing</h3>
                <h3>Referral programme</h3>
                <h3>Careers</h3>
                <h3>Zerodha.tech</h3>
                <h3>Press & media</h3>
                <h3>Zerodha Cares (CSR)</h3>
            </span>
        </div>

        <div >
            <span><h2>Support</h2></span>
            <span >
                <h3>Contact us</h3>
                <h3>Support portal</h3>
                <h3>Z-Connect blog</h3>
                <h3>List of charges</h3>
                <h3>Downloads & resources</h3>
                <h3>Videos</h3>
                <h3>Market overview</h3>
                <h3>How to file a complaint?</h3>
                <h3>Status of your complaints</h3>
            </span>
        </div>

        <div >
            <span><h2>Account</h2></span>
            <span >
                <h3>Open an account</h3>
                <h3>Fund transfer</h3>
            </span>
        </div>

    </div>

    <br>


    <div>
    </div>

</footer>
